.message{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;

    min-width: 100px;
    max-width: 400px;
    min-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    text-align: left;

    border-style: none;
}

#message-left{
    background-color: rgb(235, 233, 233);
    color: black;
    border-radius: 0em 0.8em 0.8em 0.8em;

}

#message-right{
    margin-left: auto;
    background-color: rgb(155, 153, 255);
    color: white;

    border-radius: 0.8em 0em 0.8em 0.8em;
}
