.messages{
    width: 100%;

    display: flex;
    flex-direction: column;
}

.message-container{
    width: 100vw;
}


.message-input-container{
    width: 100%;
    position: fixed;
    bottom: 0px;
    right: 0px;

    display: flex;
    flex-direction: row;
}

.message-input{
    display: inline-block;
    width: 80%;

}

.message-send{
    width: 20%;
}