.messages{
    width: 100%;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
}

.message-container{
    overflow-y: scroll;

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.message-input-container{
    width: 100%;
    position: fixed;
    bottom: 0px;


    display: flex;
    flex-direction: row;
    margin-top: auto;
}

.message-input{
    display: inline-block;
    width: 100%;

}

.message-send{
    display: none;
}


@media only screen and (max-width: 550px){
    .message-input-container{
        position: fixed;
        bottom: 0px;
        right: 0px;
    

    }


    .message-input{
        display: inline-block;
        width: 80%;
    
    }
    
    .message-send{
        display: block;
        width: 20%;
    }
    
}