.main-container{

    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;

}

#mobile-view{
    display: none;
}

#desktop-view{
    /* display: inline; */
}

@media only screen and (max-width: 400px) {
  
    #desktop-view{
        display: none;
    }

    #mobile-view{
        display: block;
    }
    
  }