.my-profile{
    margin-top: 10px;

    width: 100%;
    height: 80px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#profile-image{
    margin-left: 20px;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
}
.profile-name{
    text-align: center;
    margin-left: 20px;
    margin-right: auto;
}